!jest.config.js
*.d.ts
bin/*.js
lib/*.js
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Others
.venv
.vscode
.DS_Store
layer/*.zip
*.log
tmp
TODOLIST.md
input.yaml
output.yaml
sync.py
**/__pycache__

# Test configuration with sensitive data
test_config.json